testcase*
testfft/*
parameters.f90_last_compiled
__pycache__
newcase/*.py
testcase
mudpack-test/data/delta_RHS1
mudpack-test/data/erreur_abs1
mudpack-test/data/first_RHS
mudpack-test/data/primitive
mudpack-test/data/solution1
mudpack-test/compile_test
mudpack-test/data/RHS_MUD2
mudpack-test/data/mud_sol
mudpack-test/data/rhs
mudpack-test/data/solution
mudpack-test/data/true_errorSWmodel.log
newcase/SWmodel.log
SWmodel.log
newcase/slurm_test.sh~
newcase/exec
../Nlayer_beta
